/*
 * Media Query
*/


.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.halloweenparty img {
  width: 100%;
  border-radius: 0;

}

.intro {
  text-align: center;
}

.vampirebat img {
  display: block;
  margin: auto; /*auto horizontally centers that element within its container, 
  but needs display: block first*/
  width: 50%;
  /*float: inherit; /* inherit makes it override the parent css which used to say float 
  right */
  padding: 20px 0 0 0;
}

.contact {
  text-align: center;
}

.pie img {
  display: block;
  margin: auto;
  width: 40%;
  float: inherit; /* inherit makes it override the parent css which says float left */
}

.map {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
.map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
